# Python
venv/
__pycache__/
*.pyc
*.ipynb

# Environment variables
.env

# Data & Models (Too large for GitHub)
data/
model_output/
mlruns/
mlflow.db
mlflow_local.db
logs/

# IDE settings
.vscode/
.idea/
